header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;}

.required {
    font-weight: bold;
    color:red;
}

label {
    float: left;
    width: 112px;
    padding-right: 10px; text-align: right;
}

input {
    margin-left: 1em; 
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"] {
    width: 10px;
}

input[type="checkbox"]{
    width: 15px;
}

#Button{
    margin-left: 138px;
    
}

#Button, #Reset{
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    Border: 2px solid black;
}